.actionButton .display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: black;
    color: white;
    width: 295px;
    height: 60px;
    font-size: 50px;
    padding-right: 5px;
}

.actionButton .clear {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    width: 225px;
    height: 60px;
    border: 1px solid black;
    background: white;
    color: black;
}

.numbersButtons {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 50px;
}

.btn-styles {
    font-size: 40px;
    font-weight: bold;
    width: 75px;
    height: 60px;
    color: black;
    background: white;
}

.symbols {
    background: darkred;
    color: white;
    flex-direction: row-reverse;
}

.symbolBtns {
    position: absolute;
    width: 75px;
    left: 224px;
    bottom: 0px;
}

.numGrid {
    display: grid;
    justify-items: start;
    grid-template-columns: 1fr 1fr 1fr;
}

.zero .numbers{
    width: 225px;
}

